.over-top > *:first-child::before,
.over-bottom > *:first-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--drag-over-offset);
  left: 0;
}

:not(.dragging) + .over-top > *:first-child::before,
.over-top:first-child > *:first-child::before {
  top: calc(-1 * var(--drag-over-offset));
}

.over-bottom:not(:has(+ .dragging)) > *:first-child::after {
  bottom: calc(-1 * var(--drag-over-offset));
}

.over-top:first-child,
.over-top:first-child ~ *,
:not(.dragging) + .over-top,
:not(.dragging) + .over-top ~ *,
.over-bottom:not(:has(+ .dragging)) ~ * {
  transform: translateY(var(--drag-over-offset));
}
