.over-top > *::before,
.over-bottom > *::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--drag-over-offset);
  left: 0;
}

:not(.dragging) + .over-top > *::before,
.over-top:first-child > *::before {
  top: calc(-1 * var(--drag-over-offset));
  /* background: darkolivegreen; */
}

.over-bottom:not(:has(+ .dragging)) > *::after {
  bottom: calc(-1 * var(--drag-over-offset));
  /* background: darkslateblue; */
}

.over-top:first-child,
.over-top:first-child ~ *,
:not(.dragging) + .over-top,
:not(.dragging) + .over-top ~ *,
.over-bottom:not(:has(+ .dragging)) ~ * {
  transform: translateY(var(--drag-over-offset));
}
