@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .shadow-solid {
    animation: 100ms ease-out forwards lift;
  }

  .invalid {
    animation: 100ms ease-out forwards lift;
  }

  @keyframes lift {
    from {
      box-shadow: 0 0 0 var(--tw-shadow-color);
    }
    to {
      box-shadow: 4px 4px 0 var(--tw-shadow-color);
    }
  }
}

* {
  box-sizing: border-box;
  @apply border-black dark:border-zinc-700;
}

*:focus-visible:focus {
  @apply outline-none;
  @apply shadow-solid shadow-[#ffc700];
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

html {
  @apply text-sm;
}

html:has(dialog[open]),
html:has([data-popover]) {
  overflow: hidden;
}

body {
  @apply text-base;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-sm;
}

form label {
  @apply block mb-1 transition-colors;
}

form label:has(+ input:invalid:not(:focus)) {
  @apply text-red-800 dark:text-red-400;
}

form input,
form textarea,
form select {
  @apply w-full max-w-[50ch];
  @apply p-2;
  @apply bg-white dark:bg-zinc-900;
  @apply border-2 rounded-md;
  @apply transition-colors;
}

form input:invalid,
form textarea:invalid,
form select:invalid {
  @apply shadow-solid invalid;
  @apply shadow-red-500 dark:shadow-red-500;
}

.stop-panning:has(.dragging) {
  overflow: hidden !important;
}
