@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    @apply border-black dark:border-zinc-700;
  }

  *:focus-visible:focus {
    @apply outline-none;
    @apply shadow-solid shadow-supernova dark:shadow-supernova;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  form label {
    @apply block mb-1 transition-colors;
  }

  form fieldset:invalid:not(:focus-within) label {
    @apply text-red-800 dark:text-red-400;
  }

  form input,
  form textarea,
  form select {
    @apply w-full min-h-[42px];
    @apply p-2;
    @apply bg-white dark:bg-zinc-900;
    @apply border-2 rounded-md;
    @apply transition-colors;
  }

  form input:not(:focus):invalid,
  form textarea:not(:focus):invalid,
  form select:not(:focus):invalid {
    @apply shadow-solid;
    @apply shadow-red-500;
  }
}

@layer utilities {
  .shadow-solid {
    box-shadow: 4px 4px 0 var(--tw-shadow-color);
    animation: 150ms cubic-bezier(0.4, 0, 0.2, 1) lift;
  }

  @keyframes lift {
    from {
      box-shadow: 0 0 0 var(--tw-shadow-color);
    }
    to {
      box-shadow: 4px 4px 0 var(--tw-shadow-color);
    }
  }
}
